name: Deploy SvelteKit

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Linux

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            cd /root/Honspage_4.0
            git pull

            /root/.local/share/pnpm/pnpm install --frozen-lockfile
            /root/.local/share/pnpm/pnpm build

            /root/.local/share/pnpm/pnpm exec pm2 restart Honspage-pm2
